.selectedPage{
    font-weight: bold;
    border: 2px solid gray;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 2px;
    font-style: italic;
}

.page{
    font-style: italic;
    border: 1px solid gray;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 2px;
}