.header {
  grid-area: h;
  background-color: rgb(7, 222, 150);
}

.header img {
  width: 50px;
}

.loginBlock{
  float: left;
}

.loginBlock a{
  color: aliceblue;
}
.loginBlock button{
  color: aliceblue;
}